# Ignore everything except backend code and Python dependencies
**/__pycache__/
**/*.pyc
node_modules/
package.json
package-lock.json
archive/
observable-frontend/
scripts/
weeklyDataJob.yml
Magicbox API.postman_collection.json
keys/
data/   # Only include if needed in container
.DS_Store
